<div class="cart">
  <h2>My Cart</h2>
  <form [formGroup]="cartForm">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody formArrayName="cartItems">
        <tr *ngFor="let item of cartItems.controls; let i = index" [formGroupName]="i">
          <td>
            <img [src]="getProductImageUrl(item.value.product?.imgUrl)" alt="{{ item.value.product?.name }}" class="product-image" />
            {{ item.value.product?.name }}
          </td>
          <td>{{ item.value.product?.price | currency }}</td>
          <td>
            <input type="number" formControlName="quantity" min="1" (change)="calculateTotalPrice()" />
          </td>
          <td>{{ item.value.product?.price * item.value.quantity | currency }}</td>
          <td>
            <button (click)="removeFromCart(item.value.productId)" class="btn btn-danger">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="total">
      <h3>Total Price: {{ totalPrice | currency }}</h3>
      <button (click)="placeOrder()" class="btn btn-primary">Place Order</button>
      <button (click)="clearCart()" class="btn btn-secondary">Clear Cart</button>
    </div>
  </form>
</div>
